html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
  direction: rtl;
  background: #f0f0f0;
}

body {
  padding: 20px;
  box-sizing: border-box;
}

.container {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

form button[type="submit"] {
  flex-basis: 100%;
  max-width: 200px;
  margin: 0 auto;
  padding: 8px 0;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

form input, form button {
  padding: 8px 10px;
  font-size: 14px;
}

form input[type="text"] {
  flex-grow: 1;
  min-width: 150px;
}

form input[type="time"] {
  flex-basis: 120px;
}

#sort-btn, #clear-btn {
  width: 100%;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 10px;
}

#sort-btn {
  background-color: #17a2b8;
  color: white;
}

#clear-btn {
  background-color: #dc3545;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

thead th {
  background: #007bff;
  color: white;
  padding: 8px;
}

#task-table th:nth-child(1),
#task-table td:nth-child(1),
#task-table th:nth-child(5),
#task-table td:nth-child(5) {
  width: 40px;
  text-align: center;
}

#task-table td:nth-child(3),
#task-table th:nth-child(3) {
  text-align: center;
  white-space: nowrap;
}

#task-table td:nth-child(4),
#task-table th:nth-child(4) {
  text-align: center;
  width: 75px;
}

tbody td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.completed td {
  text-decoration: line-through;
  color: gray;
}

.done-btn, .delete-btn {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  color: white;
}

.done-btn {
  background-color: #28a745;
}

.delete-btn {
  background-color: #050001;
}
